.header {
  margin-top: 10px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: rgb(53, 53, 53);
}

.headerTitleSm {
  position: absolute;
  top: 8%;
  font-size: 30px;
  font-weight: 500;
}

.headerTitleLg {
  position: absolute;
  top: 11%;
  font-size: 100px;
  font-weight: 700;
}

.headerImg {
  width: 100%;
  height: 750px;
  margin-top: 0px;
  object-fit: cover;
}
